.c-featured{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title{
        font-size: 1.2em;
        font-weight: normal;
    }
    &-hr{
        margin-bottom: 50px;
        width: 40px;
        background-color: $cor1;
    }
    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-img{
            opacity: 80%;
            transition: 200ms ease-in-out;
        }
        &-img:hover{
            opacity: 100%;
        }
        &-title{
            font-size: 1.2em;
            font-weight: normal;
            margin: 20px 0;
        }
        &-price{
            font-size: 1.5em;
            color: $cor4;
            margin-bottom: 30px;
        }
    }
}