#header{
    background-color: $cor3;
    width: 100%;
    padding: 20px 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    // display: flex;
    // align-items: center;
    &-logo{
        &-img{
            width: 50%;
        }
        &-txt{
            display: none;
        }
    }
    &-contact{
        display: none;
    }
    &-cart{
        grid-column: 3;
        align-self: center;
        &-a{
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            &-img{
                width: 15%;
                margin-right: 10px;

            }
            &-qnt{
                background-color: $cor1;
                width: 20px;
                height: 20px;
                border-radius: 50px;
                color: $cor3;
                text-align: center;
            }
        }
    }
    &-menu{
        grid-column: 2;
        align-self: center;
        justify-self: center;
        &-1,
        &-2,
        &-3{
            width: 15px;
            height: 2px;
            margin: 2px 0;
            border-radius: 5px;
            background-color: $cor1;
        }
    }
}