@charset 'UTF-8';
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html{
    width: 100%;
}
body{
    font-family: $font;
}
img {
    max-width: 100%;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}